 body {
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    body.modal-open {
        overflow: hidden;
    }

    .main-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    .slanted-divider::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -90%;
        width: 200%;
        transform: translateX(50%) skewX(-6deg);
        background: #fff;
        z-index: -1;
    }

    .left-side,
    .account-content {
        flex: 1;
        position: relative;
    }

    .left-side {
        background: linear-gradient(31.69deg,
                rgba(29, 53, 39, 0.54) -4.28%,
                rgba(24, 47, 33, 0.54) 46.44%,
                rgba(4, 41, 19, 0.54) 100.43%),
            url('../img/Damo bg.png') center/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -2;
    }

    .account-logo img {
        max-width: 100%;
        width: 250px;
        height: auto;
    }

    .account-wrapper {
        max-width: 400px;
        width: 100%;
    }

    .account-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .login-header {
        text-align: center;
        margin-bottom: 0.6rem;
        font-size: 2.2rem;
        font-weight: 700;
    }

    .login-subheader {
        font-size: 0.8rem;
        text-align: center;
        padding-bottom: 3rem;
    }

    .form-group {
        margin-bottom: 10px;
        position: relative;
    }

    .form-control {
        width: calc(100% - 40px);
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        outline: none;
        background: none;
        padding-left: 20px;
        transition: border-bottom 0.3s ease;
    }
    .form-control input {
       
        border: none;

    }

    .form-control:focus {
        border-bottom: 2px solid #204A31;
        
    }

    .form-control::placeholder {
        
        color: #999;
    }

    .icon {
        position: absolute;
        top: 50%;
        font-size: 16px;
        transform: translateY(-50%);
        color: #999;
    }

    .forgot-password {
        font-size: 10px;
        margin: 0 0 2rem 0;
        color: #204A31;
        margin-left: -1rem;
    }

    .login-btn {
        border: none;
        background-color: #204A31;
        width: 100%;
        border-radius: 10rem;
    }

    .login-btn:hover {
          border: none;
        cursor: default;
    }
    

    .help-link a span {
        position: fixed;
        bottom: 20px;
        right: 20px;
        text-align: right;
        font-size: 12px;
        color: #000;
    }

    
